body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #EFD81D;
    
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.message {
    font-size: 20px;
    margin-bottom: 20px;
}

.restart-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.restart-button:hover {
    background-color: #000000;
}


footer h5 {font-size: 15px;}

footer span a{
    background: black;
    color: white;
    padding: 2px 4px;
    border-radius: 7px;
}